.container {
	@apply relative bg-black h-72 rounded-xl cursor-pointer
}

.post__image {
	@apply absolute block h-72 w-full object-cover rounded-xl;
	transition: .25s ease;
}

.post__edits {
	@apply absolute mt-4 mr-5 right-0 px-1.5 py-1 flex items-center bg-white-transparent rounded-md opacity-0;
	transition: .25s ease;
}

.post__statistic {
	@apply absolute w-full mb-4 bottom-0 px-5 flex justify-between text-gray-200 opacity-0;
	transition: .25s ease;
}

.post__author {
	@apply flex items-center text-sm text-gray-400
}

.container:hover .post__image {
	opacity: 0.6;
}

.container:hover .post__edits {
	opacity: 1;
}

.container:hover .post__statistic {
	opacity: 1;
}

