.wrapper {
	@apply mx-auto my-8 max-w-4xl
}

.edit__icons {
	@apply my-5 px-6 flex items-center text-gray-700
}

.post__title {
	@apply w-full mb-6 text-3xl text-gray-700 font-bold outline-none placeholder:text-gray-300
}

.post__description {
	@apply w-full min-h-300 mb-4 text-base text-gray-600 resize-none outline-none placeholder:text-gray-300
}

.post__tags {
	@apply w-full my-6 text-xl text-gray-400 font-medium outline-none border-b-2 placeholder:text-gray-300
}

.post__btn {
	@apply btn-primary bg-yellow-300 mr-8
}

.post__cancel {
	@apply text-sm text-gray-400 font-medium cursor-pointer underline
}

.editor {
	:global {
		.cm-s-easymde {
			border: 0;
			font-size: 22px;
		}
		.editor-toolbar {
			border: 0;
			background-color: rgb(0 0 0 / 2%);
		}
	}
}